*{
    font-family: Roboto, arial, sans-serif ;
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    transition: ease-in-out 0.15s ;
}

body{
    padding-bottom: 100px ;
    padding-top: 50px ;
}